.producto img{
    width: 100%;
    transition: 0.3s;
    height: 350px;
    object-fit: cover;
}

.producto img:hover {
    transform: scale(1.1);
}

.producto:hover {
    transform: scale(1.03);
    transform: translateY(-5px);
}

.productos {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    transform: translateY(-130px);
}

.producto {
    max-width: 300px;
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    background-color: #B4A997;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

nav {
    background-color: white;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: gray;
}

.producto a {
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
}

@media (max-width: 768px) {
    .productos{
        flex-direction: column;
        align-items: center;
    }
}

.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.whatsapp-float img{
    width: 60px;
    transition: 0.3s;
}

.whatsapp-float img:hover {
    transform: scale(1.1);
}

header {
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 15px;
    z-index: 1000;
}

.hero {
    position: relative;
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3)
}

.hero video{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-contenido {
    position: relative;
    z-index: 1;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: lightgray;
    width: 100%;
    transform: translateY(-263px);
}
